# .env.example
PORT=3000

# Google Sheets
SPREAD_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=

# Google Maps (Places Text Search)
GOOGLE_MAPS_API_KEY=

# Razorpay
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
